<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Usuarios</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/layoutStyle.css" asp-append-version="true"/>
</head>
<body>
<header>
    <a asp-area="" asp-controller="Home" asp-action="Index" class="logo">MarbleBank</a>
    <ul>
        <li>
            <a asp-area="" asp-controller="Home" asp-action="Index">Tarjetas</a>
        </li>
        
        <li>
            <a asp-area="" asp-controller="Home" asp-action="Index">Cuentas</a>
        </li>
        
        <li>
            <a asp-area="" asp-controller="Home" asp-action="Index">Prestamos</a>
        </li>
        
        <li>
            <a  asp-area="" asp-controller="Home" asp-action="Privacy">LAM</a>
        </li>
        <li>
            <button>
                <a asp-area="" asp-controller="Home" asp-action="Registro">
                    <span>Unirte</span>
                </a>
            </button>
        </li>
    </ul>
</header>
<br/>
<br/>
<div class="container" id="contenido">
        <main>
            @RenderBody()
        </main>
    </div>


<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2021 - Luis Marmol - <a asp-area="" asp-controller="Home" asp-action="Privacy">aaa</a>
    </div>
</footer>

<script src="js/LayoutJS.js"></script>
<script type="text/javascript">
window.addEventListener("scroll",function(){
    var header = document.querySelector("header");
    header.classList.toggle("sticky",window.scrollY > 0);
    
});
</script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>